section {
    background: #f8f9fa;
    min-height: 350px;
  
  .symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding-top: 130px;
  
  
  }
    img {
      height: 50px;
      width: 50px;
    }

    img:hover {
      transform: scale(1.5);
    }
  
    .symbol1 {
      min-width: 16%;
    }
    .symbol2 {
      min-width: 16%;
    }
    .symbol3 {
      min-width: 16%;
    }
      
    }

    .section {
        background: rgb(240, 235, 235);
        width: 100%;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // padding: 100px;
        // gap: 40px;

        .title {
          gap: 40px;
          // padding-top: 20px;
          text-align: center;
        }

        .profile {
          display: flex;
          padding: 60px;
          gap: 50px;
        }
      
    
        // h1 {
        //   text-align: center;
        //   margin-bottom: 30px;
        //   // position: absolute;
        //   // padding-bottom: 13%;
  
        // }
    
        img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          transition: 1s;
        }

        img:hover {
          transform: rotate(360deg);
        }


      
        .profile1 {
          min-width: 21%;
        }

        .profile2 {
          min-width: 20%;
        }
        .profile3 {
          min-width: 20%;
        }
          
        }

@media (max-width: 768px) {
    .symbol {
    flex-direction: column;
    width: 100%;
    padding-bottom: 25%;
  
  }

  p {
    width: 100%;
    padding: 10px;
  }

  .section {
    flex-direction: column;
  }

  .profile {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-top: 120px;
    padding-bottom: 50px;

  }

  .title {
    padding-top: 20px;
  }


}